body{
    text-align: center;
    background-color: #e6e6e6;
    margin: 0;
    transition: 0.1s;
}
.top{
    height: 80px;
    color: #fff;
    background-color: #171717;
    padding-top: 4.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.1s;
}
 .container{
    height: 520px;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    background-color: #fffdfa;
    border-radius: 2%;
    box-shadow: 0 0 8px rgb(0,0,0,0.6), 0 1px 0 #fff;
    transition: 0.1s;
}

.email{
    color: #000;
    text-align: left;
    margin-top: 15px;
    margin-left: 6%;
    font-weight: 500;
    font-size: 22px;
}

input{
    width: 88%;
    height: 30px;
    border: 1px solid silver;
    border-radius: 3px;
    margin-top: 5px;
}

input::placeholder{
    color: #b1a9a9;
}

#btn{
    height: 40px;
    width: 88%;
    color: #fff;
    background-color: #171717;
    border: none;
    outline: none;
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.bottom{
    margin-top: 5px;
    font-size: 15px;
    color: #6b6363;
}